*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    
}

.commentCard{
    display: flex;
    flex-direction: column;
    border-bottom: #E1E1E1 solid 1px;
    margin: 1rem;
    color: #09629B;
    width: 700px;
    padding: 1rem 2rem;
    text-align: left;
}

.commentCard>p{
    margin-bottom: 1rem;
}

a{
    text-decoration: none;
    color: black;
}

.box { 
    position: relative; 
    display: inline-block;
    width: fit-content;
    margin-left: 650px;
} 
  
.mybtn { 
    background-color: #f7f7f7; 
    color: black; 
    font-size: 10px; 
    font-weight: 300; 
    padding: 5px; 
    border: none; 
    border-radius: 0; 
    cursor: pointer; 
    background-color: transparent;
} 
  
i { 
    margin-left: 5px; 
} 
  
.box:hover .dropdownlist { 
    display: block; 
} 
  
.dropdownlist { 
    display: none; 
    position: absolute; 
    background-color: #ffffff; 
    font-weight: 300; 
    min-width: 100px; 
    box-shadow: 0 16px 16px rgba(13, 12, 12, 0.2); 
    top: 100%; 
} 
  
.dropdownlist a { 
    color: #09629B; 
    padding: 5px 10px; 
    text-decoration: none; 
    display: block; 
} 
  
.dropdownlist a:hover { 
    background-color: transparent;
    color: #84B0CD;
}

.container {
    display: inline-block;
    cursor: pointer;
}
  
.bar1, .bar2, .bar3 {
    width: 15px;
    height: 2px;
    background-color: #09629B;
    margin: 2px 0;
    transition: 0.4s;
}
  
.change .bar1 {
    transform: translate(0, 11px) rotate(-45deg);
}
  
.change .bar2 {opacity: 0;}
  
.change .bar3 {
    transform: translate(0, -11px) rotate(45deg);
}
  
.details>button{
    margin: 0.5rem 1rem;
    font-weight: 300;
    color: #09629B;
    background-color: transparent;
    border: 0.1px #09629B solid;
    border-radius: 0;
}

.details>button:hover{
    margin: 0.5rem 1rem;
    font-weight: 300;
    color: black;
    background-color: transparent;
    border: 0.1px #09629B solid;
    border-radius: 0;
    transition: 0.5s all;
}

.user>a{
    color: #84B0CD;
}