.registerPageCard{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 2rem;
    width: fit-content;
}

form>.logo{
    
}

.inputs{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputs>div{
    display: flex;
    align-items: center;
    margin: 0.7rem 0;
}

div>label{
    width: 10rem;
}

.inputs>div>input{
    width: 100%;
    align-items: center;
    border: 0;
    border-bottom: #09629B solid 1px;
    font-size: medium;
    font-size: 16px;
}

.inputs>div>input:focus{
    width: 100%;
    align-items: center;
    border: none;
    outline: none;
    border-bottom: #09629B solid 1px;
    font-size: medium;
}

.inputs>button{
    margin: 1rem 1rem;
    font-weight: 300;
    color: #09629B;
    background-color: transparent;
    border: 0.1px #09629B solid;
    border-radius: 0;
    width: 100%;
}

.inputs>button:hover{
    margin: 1rem 1rem;
    font-weight: 300;
    color: black;
    background-color: transparent;
    border: 0.1px #09629B solid;
    border-radius: 0;
    transition: 0.5s all;
}

.radioButtons{
    max-width: 10rem;
}

.radioButtons>input{
    margin: 0 1rem;
}